{{- /*
Social sharing image of a page, first match wins:

  1. front matter `images: [cover.png]`   (page resource or URL)
  2. front matter `featuredImage`
  3. page resource cover.* or featured-image.*
  4. the first photo in images/ (flea market items)
  5. a generated card (seo/card.html)

Returns (dict "url" "width" "height") ; width/height are 0 when unknown.
*/ -}}
{{- $page := . -}}
{{- $result := dict -}}
{{- $src := "" -}}
{{- with $page.Params.images }}{{ $src = index . 0 }}{{ end -}}
{{- if not $src }}{{ with $page.Params.featuredImage }}{{ $src = . }}{{ end }}{{ end -}}

{{- $res := "" -}}
{{- if $src }}
  {{- with $page.Resources.Get $src }}{{ $res = . }}{{ else }}
    {{- $result = dict "url" ($src | absURL) "width" 0 "height" 0 }}
  {{- end }}
{{- else }}
  {{- with $page.Resources.GetMatch "{cover,featured-image}.*" }}{{ $res = . }}{{ end }}
  {{- if not $res }}{{ with sort ($page.Resources.Match "images/*") "Name" }}{{ $res = index . 0 }}{{ end }}{{ end }}
{{- end -}}

{{- if and (not $res) (not $result.url) }}
  {{- $res = partialCached "seo/card.html" $page $page.RelPermalink $page.Language.Lang }}
{{- end -}}

{{- with $res }}
  {{- if eq .MediaType.MainType "image" }}
    {{- if ne .MediaType.SubType "svg" }}
      {{- /* Social networks expect roughly 1200x630 */ -}}
      {{- $img := . }}
      {{- if gt .Width 1200 }}{{ $img = .Resize "1200x" }}{{ end }}
      {{- $result = dict "url" $img.Permalink "width" $img.Width "height" $img.Height }}
    {{- end }}
  {{- end }}
{{- end -}}
{{- return $result -}}
