{{- /*
Structured data (JSON-LD, schema.org):
  home      WebSite + Person
  posts     BlogPosting
  projects  MobileApplication (project pages)
  market    Product with an Offer (flea market items)
*/ -}}
{{- $page := .page -}}
{{- $sameAs := slice -}}
{{- range site.Params.social }}{{ $sameAs = $sameAs | append .url }}{{ end -}}
{{- $person := dict
  "@type" "Person"
  "name" (site.Params.home.title | default site.Params.author.name)
  "url" site.Home.Permalink
  "sameAs" $sameAs
-}}
{{- with site.Params.author.gravatarEmail }}
  {{- $person = merge $person (dict "image" (printf "https://www.gravatar.com/avatar/%s?s=256&d=mp" (md5 (lower (trim . " "))))) }}
{{- end -}}

{{- $data := dict -}}
{{- if $page.IsHome }}
  {{- $data = dict
    "@context" "https://schema.org"
    "@graph" (slice
      (dict "@type" "WebSite" "name" site.Title "url" site.Home.Permalink "inLanguage" $page.Language.Locale "description" .description "author" $person)
      $person
    )
  }}
{{- else if and $page.IsPage (eq $page.Section "posts") }}
  {{- $data = dict
    "@context" "https://schema.org"
    "@type" "BlogPosting"
    "headline" $page.Title
    "description" .description
    "url" $page.Permalink
    "mainEntityOfPage" $page.Permalink
    "datePublished" ($page.Date.Format "2006-01-02T15:04:05-07:00")
    "dateModified" ($page.Lastmod.Format "2006-01-02T15:04:05-07:00")
    "inLanguage" $page.Language.Locale
    "wordCount" $page.WordCount
    "author" $person
    "publisher" $person
  }}
  {{- with .image.url }}{{ $data = merge $data (dict "image" .) }}{{ end }}
  {{- with $page.Params.tags }}{{ $data = merge $data (dict "keywords" (delimit . ", ")) }}{{ end }}
{{- else if and (eq $page.Section "projects") $page.IsSection (not $page.Parent.IsHome) }}
  {{- $data = dict
    "@context" "https://schema.org"
    "@type" "MobileApplication"
    "name" $page.Title
    "description" .description
    "url" $page.Permalink
    "inLanguage" $page.Language.Locale
    "author" $person
  }}
  {{- with $page.Params.platforms }}{{ $data = merge $data (dict "operatingSystem" (delimit . ", ")) }}{{ end }}
  {{- with $page.Params.applicationCategory }}{{ $data = merge $data (dict "applicationCategory" .) }}{{ end }}
  {{- with $page.Resources.GetMatch "icon.*" }}{{ $data = merge $data (dict "image" .Permalink) }}{{ end }}
  {{- $stores := slice }}
  {{- with $page.Params.links }}{{ range $k, $v := . }}{{ if and $v (in (slice "appstore" "googleplay") $k) }}{{ $stores = $stores | append $v }}{{ end }}{{ end }}{{ end }}
  {{- with $stores }}{{ $data = merge $data (dict "sameAs" .) }}{{ end }}
{{- else if and $page.IsPage (eq $page.Section "market") }}
  {{- $data = dict
    "@context" "https://schema.org"
    "@type" "Product"
    "name" $page.Title
    "description" .description
    "url" $page.Permalink
  }}
  {{- with .image.url }}{{ $data = merge $data (dict "image" .) }}{{ end }}
  {{- with $page.Params.price }}
    {{- $availability := dict "available" "InStock" "reserved" "LimitedAvailability" "sold" "SoldOut" }}
    {{- $conditions := dict "new" "NewCondition" "like-new" "UsedCondition" "good" "UsedCondition" "fair" "UsedCondition" }}
    {{- $status := $page.Params.status | default "available" | lower }}
    {{- $offer := dict
      "@type" "Offer"
      "price" .
      "priceCurrency" ($page.Params.currency | default site.Params.market.currency | default "TRY")
      "availability" (printf "https://schema.org/%s" (index $availability $status | default "InStock"))
      "url" $page.Permalink
      "seller" $person
    }}
    {{- with $page.Params.condition }}
      {{- $offer = merge $offer (dict "itemCondition" (printf "https://schema.org/%s" (index $conditions (lower .) | default "UsedCondition"))) }}
    {{- end }}
    {{- $data = merge $data (dict "offers" $offer) }}
  {{- end }}
{{- end -}}

{{- with $data }}
<script type="application/ld+json">{{ . | jsonify | safeJS }}</script>
{{- end }}
